 /***** ANIMAÇAO TITULO H1 LANDPAGE ********/
.anima-nome{
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(44) 1s 1 normal both,
             blinkCursor 500ms steps(44) infinite normal;
}
@keyframes type{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }
  @keyframes blinkCursor{
    from{
      border-right-color:var(--first-color);
    }
    to{
      border-right-color: transparent;
    
    }
  }
 /***** FIM - ANIMAÇAO TITULO H1 LANDPAGE ********/

 /*****8 MENU MOBILE ********/
i.bi-list{
    font-size: 3rem;
    color: #fff;
}
#btn-mobile{
    display: none;
    background-color: transparent;
    border: none;
}

/* RESPONSIVIDIDADE INDEX HTLM */

@media(max-width:600px){
    section#landpage h3{
        font-size: 2.5rem;
     }
     section#landpage h1{
        font-size: 3.5rem;
     }
     div.logoMaior{
        display: none;
     }
     #box-formacao h1{
        font-size: 1.5rem;

     }
     #box-formacao .card1, #box-habilidade .card3{
        font-size: 0.8rem;
    
    }
    #box-habilidade .card3 h1, #box-habilidade .card3 h3, #box-habilidade .card2 h1, .container-sobre div#txt-sobre{
        font-size: 1rem;
    }
    #box-habilidade .card2, #box-habilidade .card3{
        width: auto;
        margin:5px;
    }
    .container-html{
        width: 30%;
    }
    .box-caixa2 img{
        width: 80%;

    }

   
}
@media(max-width: 800px){
    nav{
        position: none;
    }
    #btn-mobile{
        display: block;
        margin-right:2rem;
    }
    #menu{
        display: none;
        z-index: 1000;
        /* display: block; */
        
    }
    #nav.active #menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width:50%;
        right: 0;
        top:85px;
        background-color: var(--first-color);
        height: 100vh;
    }
  
    #menu li {
        padding: 1.5rem 0;
        margin:0 2rem;
        border-bottom: 1px solid var(--second-color);
        font-size: 29px;
    cursor: pointer;
    }
    section#landpage{
        flex-wrap: wrap;
        margin: auto;
        }
        div.logoMaior{
            margin-top: 0;
        }
    div.logoPequena img{
        margin-left: 30px;
        padding: 0;
    }

  .box-img img{
    width:150px;
}

#box-habilidade{
    margin: 0;
    height: auto;
}

.card2, .card3{
    width: 350px;
    margin: 10px 0;
}
div.box-btn-sobre{
    flex-direction: column;
    
}
.box-btn-sobre button{
    width: 100%;
}
/*************footer************/
.container-link-footer{
   align-items: center;
}
.draw-onda svg {

    height: 200px;
   z-index: -1;
}
footer{
    font-size: 1.2rem;
    }
}
@media (max-width:980px){
    div.container-sobre{
        flex-direction: column;
        padding: 5px;

    }
  
}
/* RESPOSIVIDADE PROJETOS.HTML */
@media (max-width:900px){
    .nav-links{
        margin: 0;
    }
    .andamento, .projec-5, .projec-4, .projec-3, .projec-2, .projec-1{
        flex-wrap: wrap;
        gap:50px;
        margin-top: 20px;
    }
}